{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="section-header">
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">HOME</a></div>
            <div class="breadcrumb-item">AGENDA</div>
        </div>
    </div>
  
    <div class="section-body">
        <div class="row">
            
            <div class=" col-12 col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Da</h4>
                    </div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>                        
                        <canvas id="myChart2" width="1340" height="670" style="display: block; width: 670px; height: 335px;" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                    <div class="card ">
                      <div class="card-header">
                        <h4>Consumo Diario</h4>
                        <div class="card-header-form">
                            <form method="get" action="/dash">
                                <div class="input-group">     
                                    <input name="create_at" type="date"  value="{{filters['create_at']}}" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                      </div>
                      <div class="card-body" id="top-5-scroll" tabindex="2" >
                        <ul class="list-unstyled list-unstyled-border">
                            {% for empresa_data in data_chart_table %}
                                <li class="media">
                                    <div class="media-body">
                                        <div class="float-right">
                                            <div class="font-weight-600 text-muted text-small">Consumo Total {{ empresa_data.total_sum }}</div>
                                        </div>
                                        <div class="media-title">{{ empresa_data.empresa_nome }}</div>
                                        <div class="mt-1">
                                            {% for integracao_nome, total in empresa_data.integracao_totais.items() %}
                                                <div class="budget-price">
                                                    <div class="budget-price-square bg-primary" data-width="{{ (total / empresa_data.total_sum) * 100 }}%" style="width: {{ (total / empresa_data.total_sum) * 100 }}%;"></div>
                                                    <div class="budget-price-label">{{ integracao_nome }}: {{ total }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}



                          
                          
                        </ul>
                      </div>
                      
                    </div>
                  </div>
            </div>
        
           
        
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>AGENDA</h4>
                    </div>
                    <div class="card-body">
                        <div class="fc-overflow">                            
                            <div id="calendar"></div>
                        </div>
                    </div>
                    {% include "modal.html" %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            locale: 'pt-br',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: [
                {% for calendar in data_calendar %}
                    {
                        id: '{{ calendar["id"] }}',
                        title: '{{ calendar["summary"] }}',
                        start: '{{ calendar["start"]["dateTime"] }}',
                        end: '{{ calendar["end"]["dateTime"] }}',
                        description: '{{ calendar["description"] }}',
                        hangoutLink: '{{ calendar["hangoutLink"] }}',
                        attendees:'{{ calendar["attendees"] }}', // Use a string de todos os participantes
                        color: '#235e7b',
                        backgroundColor: '#235e7b',
                        borderColor: '#235e7b',
                        textColor: '#ffffff',
                        editable: true,
                        startEditable: true,
                        durationEditable: true
                    },
                {% endfor %}
            ],
            eventClick: function(event) {
                $('#eventoModal .modal-title').text(event.title);
                $('#eventoModal .modal-body').html('<p><strong>Início:</strong> ' + event.start.format('DD/MM/YYYY HH:mm:ss')  + '</p>' +
                '<p><strong>Fim:</strong> ' + event.end.format('DD/MM/YYYY HH:mm:ss') + '</p>' +
                '<p><strong>Participantes:</strong> ' + event.attendees + '</p>'+
                '<p><strong>Descrição:</strong> ' + event.description + '</p>'
                );
                
                $('#eventoModal').modal({
                    backdrop: false
                }).modal('show');
            }
        });
    });
</script>
<script>
    var ctx = document.getElementById("myChart1").getContext('2d');
     var data_chart = {{ data_chart | tojson }};
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data_chart,
        options: {
          responsive: true,
          legend: {
            position: 'bottom',
          },
        }
      });
    
</script>
<script>
    var ctx = document.getElementById("myChart2").getContext('2d');
    var data_chart = {{ data_chart | tojson }};
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: data_chart,
        options: {
          responsive: true,
          legend: {
            position: 'bottom',
          },
        }
      });
    
</script>
{% endblock %}
