<div class="main-sidebar bg-dark sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="index.html" class=" text-light">BASE</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="index.html" class="text-light"><i class="far fa-robot"></i>BT </a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Inicio</li>
        <li class="active"><a href="/home" class="nav-link"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
               
        <li class="menu-header">HEADER</li>        
        <li><a href="/status" class="nav-link"><i class="fas fa-tasks"></i> <span>Status</span></a></li>
        <li><a href="/pessoa" class="nav-link"><i class="fas fa-tasks"></i> <span>Pessoa</span></a></li>
        <li><a href="/log" class="nav-link"><i class="fas fa-tasks"></i> <span>Logs</span></a></li>
        <li class="menu-header">ACESSOS</li>        
        <li><a href="/usuario" class="nav-link"><i class="fas fa-tasks"></i> <span>Usuário</span></a></li>
        <li><a href="/aplicacao" class="nav-link"><i class="fas fa-tasks"></i> <span>Aplicação</span></a></li>
        <li><a href="/grupo_acesso" class="nav-link"><i class="fas fa-tasks"></i> <span>Grupo de Acesso</span></a></li>
        

        <li class="menu-header">HEADER</li>        
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown"><i class="fa fa-tasks"></i> <span>Menu2</span></a>
          <ul class="dropdown-menu">
            <li><a href="/#">1</a></li>
            <li><a href="/#">2</a></li> 
            <li><a href="/#">3</a></li> 
          </ul>
        </li>    
        

      <div class="mt-4 mb-4 p-3 hide-sidebar-mini ">
        <a href="http://0.0.0.0:8002/docs" target="_blank" class="btn btn-light  btn-lg btn-block btn-icon-split">
          <i class="fas fa-rocket"></i> DOCUMENTAÇÃO - API
        </a>
      </div>        
    </aside>
  </div>