<div class="main-sidebar bg-dark sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="index.html" class="text-light">DATACRED</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="index.html" class="text-light"><i class="far fa-robot"></i>BT </a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Inicio</li>
        <li class="active"><a href="/home" class="nav-link"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
               

        <li><a href="/master/in100/form" class="nav-link"><span>In100</span></a></li>
        <li><a href="/lote" class="nav-link"><span>Lote</span></a></li>
        <li class="menu-header">ADMINISTRATIVO</li>        
        <li><a href="/empresa" class="nav-link"><span>Empresa</span></a></li>
        <li><a href="/log" class="nav-link"><span>Logs</span></a></li>
<!-- 
        <li><a href="/pessoa" class="nav-link"><i class="fas fa-tasks"></i> <span>Pessoa</span></a></li>
        <li><a href="/lote" class="nav-link"><i class="fas fa-tasks"></i> <span>Lote</span></a></li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Master</span></a>
          <ul class="dropdown-menu" >
            <li><a href="/master/in100/form" class="nav-link"><span>In100</span></a></li>
            <li><a href="/master/convenio/form" class="nav-link"><span>Convênio</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>BMG</span></a>
          <ul class="dropdown-menu" >
            <li><a href="/bmg/in100/search" class="nav-link"><span>Unitário In100</span></a></li>
            <li><a href="/bmg/in100/form" class="nav-link"><span>In100</span></a></li>
            <li><a href="/bmg/cartao/form" class="nav-link"><span>Cartão</span></a></li>
            <li><a href="/bmg/seguro/form" class="nav-link"><span>Seguro</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Pan</span></a>
          <ul class="dropdown-menu" >
            <li><a href="/pan/fgts/search" class="nav-link"><span>Consulta FGTS</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Facta</span></a>
          <ul class="dropdown-menu" >
            <li><a href="/facta/fgts/search" class="nav-link"><span>Consulta FGTS</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Anec</span></a>
          <ul class="dropdown-menu" >
            <li><a href="/anec/irregulares/search" class="nav-link"><span> Consultar</span></a></li>
            <li><a href="/anec/alertas/form" class="nav-link"><span> Alertas</span></a></li>
            <li><a href="/anec/irregulares/form" class="nav-link"><span> Irregulares</span></a></li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><span>Configuração</span></a>
              <ul class="dropdown-menu" >
                <li><a href="/anec/banco/form" class="nav-link"><span>Banco</span></a></li>
                <li><a href="/anec/tipo_alerta/form" class="nav-link"><span>Tipo Alerta</span></a></li>
                <li><a href="/anec/tipo_produto/form" class="nav-link"><span>Tipo Produto</span></a></li>
                <li><a href="/anec/tipo_inconsistencia/form" class="nav-link"><span>Tipo Inconsistencia</span></a></li>
                <li><a href="/anec/classe_inconsistencia/form" class="nav-link"><span>Classe Inconsistencia</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        
        <li class="menu-header">ACESSOS</li>        
        <li><a href="/usuario" class="nav-link"><i class="fas fa-tasks"></i> <span>Usuário</span></a></li>
        <li><a href="/aplicacao" class="nav-link"><i class="fas fa-tasks"></i> <span>Aplicação</span></a></li>
        <li><a href="/grupo_acesso" class="nav-link"><i class="fas fa-tasks"></i> <span>Grupo de Acesso</span></a></li>
        
        
        <li class="menu-header">ADMINISTRATIVO</li>        
        <li><a href="/empresa" class="nav-link"><i class="fas fa-tasks"></i> <span>Empresa</span></a></li>
        <li><a href="/servico" class="nav-link"><i class="fas fa-tasks"></i> <span>Serviço</span></a></li>
        <li><a href="/status" class="nav-link"><i class="fas fa-tasks"></i> <span>Status</span></a></li>
         <li><a href="/log" class="nav-link"><i class="fas fa-tasks"></i> <span>Logs</span></a></li> -->

        

      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="http://200.233.168.189:8888/docs" target="_blank" class="btn btn-light btn-lg btn-block btn-icon-split">
          <i class="fas fa-rocket"></i> DOCUMENTAÇÃO - API
        </a>
      </div>        
    </aside>
  </div>