{% extends "base.html" %}
{% block content %}
  <div class="section-header">    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/status">STATUS</a></div>
      <div class="breadcrumb-item">FORMULÁRIO</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h4>CADASTRO DE STATUS</h4>
          </div>
          <div class="card-body">
            {% if status_data[0] %}
              {% set status_data = status_data[0] %}
              <form method="POST" action="/status/update/{{ status_data['id'] }}"> 
            {% else %}
              <form method="POST" action="/status/insert"> 
            {% endif %}
                <div class="card-body">
                    <div class="row">                             
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label>DESCRIÇÃO</label>
                            <input type="text" name="description" value="{{ status_data['description'] }}" maxlength="255" class="form-control">
                        </div>                        
                    </div>
                </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Salvar</button>
                    <a href="/status" class="btn btn-danger" type="reset">Cancelar</a>
                  </div>
              </div>
            </form>                    
          </div>
      </div> 
    </div>
  </div>
{% endblock %}
