{% extends "base.html" %}
{% block content %}  
<div class="section-header">
    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/home">home</a></div>
      <div class="breadcrumb-item "><a href="#">erro</a></div>
    </div>
  </div>
    <section class="section">
        <div class="container mt-5">
            <div class="page-error ">
                <div class="page-inner">
                <h1>500</h1>
                <div class="page-description">
                    Entre em contato com o administrador e passe o erro abaixo.
                    <p style="font-size: 10px;color:brown">
                        {{data}}
                    </p>
                </div>
                </div>
            </div>        
        </div>
    </section>  
{% endblock %}