{% extends "base.html" %}
{% block content %}
<div class="section-header">
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/caixa_historico">HISTORICO CAIXA</a></div>
        <div class="breadcrumb-item">LISTAGEM</div>
    </div>
</div>
{% set list = namespace(receita_total=0, despesa_total=0) %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>HISTORICO CAIXA</h4>
                <div class="card-header-form">
                    <form method="get" action="#">
                        <div class="input-group">      
                                 
                            
                            <input type="hidden" name="start_data" id="start_data">
                            <input type="hidden" name="end_data" id="end_data">
                            <a href="javascript:;" class="btn btn-primary daterange-btn icon-left btn-icon">
                                <i class="fas fa-calendar"></i>
                                <span id="dateRangeText">Selecione a Data</span>
                            </a>
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
              </div>
            </div>
            <div class="form-group">
               
              </div>
            <div class="card-body ">                
                <div class="table-responsive">
                    <table id="table-1" class="table table-striped " style="width:100%">     
                    <thead> 
                        <tr>
                            <th>#</th>
                            <th>PESSOA</th>
                            <th>DESCRIÇÃO</th>
                            <th>PAGAMENTO</th>
                            <th>DOCUMENTO</th>
                            <th>VALOR PARCELA</th>
                            <th>VALOR PAGO</th>
                            <th>VALOR TROCO</th>
                            <th>TIPO</th>
                            <th>CONTA ID</th>
                            <th>DATA PAGAMENTO</th>
                            <th>DATA VENCIMENTO</th>
                            <th>EMPRESA</th>
                            <th>STATUS</th>
                            <th>AÇÃO</th>
                        </tr>
                    </thead>
                        {% for caixa_historico in data["items"] %}
                        <tr>
                            <td>{{ caixa_historico.id }}</td>
                            <td>{{ caixa_historico.conta.pessoa.name }}</td>
                            <td>{{ caixa_historico.conta.descricao }}</td>
                            <td>{{ caixa_historico.conta.pagamento_tipo.description }}</td>
                            <td>{{ caixa_historico.conta.documento_tipo.description }}</td>
                            <td>{{ caixa_historico.conta.valor_parcela }}</td>
                            <td>{{ caixa_historico.conta.valor_pago }}</td>
                            <td>{{ caixa_historico.conta.valor_troco }}</td>
                            <td>
                                {% if caixa_historico.conta.conta_tipo_id == 1 %}
                                <div class="badge badge-primary">
                                    {{ caixa_historico.conta.conta_tipo.description }}
                                    {% set list.receita_total = list.receita_total + caixa_historico.conta.valor_pago  %}
                                    
                                    
                                </div>
                                {% elif caixa_historico.conta.conta_tipo_id == 2 %}
                                <div class="badge badge-danger">
                                    {{ caixa_historico.conta.conta_tipo.description }}
                                    {% set list.despesa_total = list.despesa_total + caixa_historico.conta.valor_pago  %}
                                    
                                </div>
                                {% endif %}
                            </td>
                            <td>{{ caixa_historico.conta.id }}</td>
                            <td>{{ caixa_historico.conta.data_vencimento }}</td>
                            <td>{{ caixa_historico.conta.data_pagamento }}</td>
                            <td>{{ caixa_historico.empresa.name_fantasy }}</td>
                            <td>
                                <div class="badge badge-warning">
                                    {{ caixa_historico.status.description }}
                                </div>
                            </td>
                            <td>
                                <a href="/em_contrucao" class="btn btn-primary">Detalhar</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <div class="row col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card card-statistic-2">
                                        
                                        <div class="card-icon shadow-primary bg-primary">          
                                        <i class="fas fa-arrow-circle-up	"></i>
                                        </div>
                                        <div class="card-wrap">
                                        <div class="card-header">
                                            <h4 class="text-success">ENTRADAS</h4>
                                        </div>
                                        <div class="card-body text-success">
                                            R$ {{ list.receita_total | round(2)}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card card-statistic-2">
                                    
                                        <div class="card-icon shadow-primary bg-primary">
                                        <i class="fas fa-arrow-circle-down	"></i>
                                        </div>
                                        <div class="card-wrap">
                                        <div class="card-header ">
                                            <h4 class="text-danger">SAIDAS</h4>
                                        </div>
                                        <div class="card-body text-danger">
                                            R$ {{ list.despesa_total | round(2) }}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card card-statistic-2">
                                        <div class="card-icon shadow-primary bg-primary">
                                        <i class="fas fa-dollar-sign"></i>
                                        </div>
                                        <div class="card-wrap">
                                        <div class="card-header">
                                            <h4>CAIXA</h4>
                                        </div>
                                        {% if list.receita_total < list.despesa_total %}
                                                <div class="card-body text-danger">
                                                    R$ {{ list.receita_total - list.despesa_total  | round(2)}}
                                                </div>
                                            {% else %}
                                                <div class="card-body text-primary">
                                                    R$ {{ list.receita_total - list.despesa_total | round(2) }}
                                                </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>                    
                </div>                     
            </div>
        </div>
    </div>
</div>
    

{% endblock %}
{% block scripts %}    
    <script>
        $(document).ready(function() {
            $('#table-1').DataTable({
                "searching": false,   // Desativa a barra de pesquisa
                "paging": false,      // Desativa a paginação
                "responsive": true,   // Torna a tabela responsiva
                "columnDefs": [],
                "language": {
            "sEmptyTable": "Nenhum dado disponível na tabela",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrado de _MAX_ registros no total)",
            }
        });
        });

        $('.daterange-btn').daterangepicker({
            ranges: {
                'Hoje': [moment(), moment().add(1, 'days')],
                'A 1 Dia': [moment().subtract(1, 'days'), moment().add(1, 'days')],
                'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment().add(1, 'days')],
                'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment().add(1, 'days')],
                'Ultimo Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            start_data: moment(),
            end_data: moment()
        }, function (start, end) {
            let start_data = start.format('YYYY-MM-DD');
            let end_data = end.format('YYYY-MM-DD');
        
            // Atualiza os campos ocultos do formulário
            $('#start_data').val(start_data);
            $('#end_data').val(end_data);
        
            // Atualiza o texto da tag <a>
            $('#dateRangeText').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
        
        // Adiciona um evento de submit para verificar se os campos estão preenchidos
        $('#dateRangeForm').on('submit', function(event) {
            let start_data = $('#start_data').val();
            let end_data = $('#end_data').val();
        
            if (!start_data || !end_data) {
                event.preventDefault(); // Impede o envio se os campos estiverem vazios
                alert('Por favor, selecione um intervalo de datas.');
            }
        });
        
          
    </script>
{% endblock %}


