{% extends "base.html" %}
{% block content %}
<div class="section-header">
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/caixa_historico">HISTORICO CAIXA</a></div>
        <div class="breadcrumb-item">LISTAGEM</div>
    </div>
</div>
{% set list = namespace(receita_total=0, despesa_total=0) %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>HISTORICO CAIXA</h4>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>PESSOA</th>
                            <th>DESCRIÇÃO</th>
                            <th>PAGAMENTO</th>
                            <th>DOCUMENTO</th>
                            <th>VALOR PARCELA</th>
                            <th>VALOR PAGO</th>
                            <th>VALOR TROCO</th>
                            <th>TIPO</th>
                            <th>CONTA ID</th>
                            <th>DATA PAGAMENTO</th>
                            <th>DATA VENCIMENTO</th>
                            <th>EMPRESA</th>
                            <th>STATUS</th>
                            <th>AÇÃO</th>
                        </tr>
                        {% for caixa_historico in data["items"] %}
                        <tr>
                            <td>{{ caixa_historico.id }}</td>
                            <td>{{ caixa_historico.conta.pessoa.name }}</td>
                            <td>{{ caixa_historico.conta.descricao }}</td>
                            <td>{{ caixa_historico.conta.pagamento_tipo.description }}</td>
                            <td>{{ caixa_historico.conta.documento_tipo.description }}</td>
                            <td>{{ caixa_historico.conta.valor_parcela }}</td>
                            <td>{{ caixa_historico.conta.valor_pago }}</td>
                            <td>{{ caixa_historico.conta.valor_troco }}</td>
                            <td>
                                {% if caixa_historico.conta.conta_tipo_id == 1 %}
                                <div class="badge badge-primary">
                                    {{ caixa_historico.conta.conta_tipo.description }}
                                    {% set list.receita_total = list.receita_total + caixa_historico.conta.valor_pago  %}
                                    
                                    
                                </div>
                                {% elif caixa_historico.conta.conta_tipo_id == 2 %}
                                <div class="badge badge-danger">
                                    {{ caixa_historico.conta.conta_tipo.description }}
                                    {% set list.despesa_total = list.despesa_total + caixa_historico.conta.valor_pago  %}
                                    
                                </div>
                                {% endif %}
                            </td>
                            <td>{{ caixa_historico.conta.id }}</td>
                            <td>{{ caixa_historico.conta.data_vencimento }}</td>
                            <td>{{ caixa_historico.conta.data_pagamento }}</td>
                            <td>{{ caixa_historico.empresa.name_fantasy }}</td>
                            <td>
                                <div class="badge badge-warning">
                                    {{ caixa_historico.status.description }}
                                </div>
                            </td>
                            <td>
                                <a href="/em_contrucao" class="btn btn-primary">Detalhar</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <div class="row col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card card-statistic-2">
                                        
                                        <div class="card-icon shadow-primary bg-primary">          
                                        <i class="fas fa-arrow-circle-up	"></i>
                                        </div>
                                        <div class="card-wrap">
                                        <div class="card-header">
                                            <h4 class="text-success">ENTRADAS</h4>
                                        </div>
                                        <div class="card-body text-success">
                                            R$ {{ list.receita_total }}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card card-statistic-2">
                                    
                                        <div class="card-icon shadow-primary bg-primary">
                                        <i class="fas fa-arrow-circle-down	"></i>
                                        </div>
                                        <div class="card-wrap">
                                        <div class="card-header ">
                                            <h4 class="text-danger">SAIDAS</h4>
                                        </div>
                                        <div class="card-body text-danger">
                                            R$ {{ list.despesa_total }}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card card-statistic-2">
                                        <div class="card-icon shadow-primary bg-primary">
                                        <i class="fas fa-dollar-sign"></i>
                                        </div>
                                        <div class="card-wrap">
                                        <div class="card-header">
                                            <h4>CAIXA</h4>
                                        </div>
                                        {% if list.receita_total < list.despesa_total %}
                                                <div class="card-body text-danger">
                                                    R$ {{ list.receita_total - list.despesa_total }}
                                                </div>
                                            {% else %}
                                                <div class="card-body text-primary">
                                                    R$ {{ list.receita_total - list.despesa_total }}
                                                </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>                    
                </div>                     
            </div>
        </div>
    </div>
</div>
    

{% endblock %}


