{% extends "base.html" %}
{% block content %}
  <div class="section-header">    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/acesso">ACESSO</a></div>
      <div class="breadcrumb-item">FORMULÁRIO</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h4>CADASTRO DE ACESSO APLICATIVO -> PESSOA</h4>
          </div>
          <div class="card-body">
            {% set acesso_data = acesso_data %}
              <form method="PATCH" action="/acesso/update/{{ acesso_data['id'] }}"> 

                <div class="card-body">
                    <div class="row">       
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                          <label>ACESSO</label>
                          <select name="status_id" class="form-control select2 " multiple="multiple">
                              {% for acesso in acesso_data %}                                                                                                   
                                <option  value="{{ acesso }}">{{ acesso }}</option>                                
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                          <label>GRUPO ACESSO</label>
                          <select name="status_id" class="form-control select2 " multiple="multiple">
                              {% for grupo_acesso in grupo_acesso_data %}                                                                                                   
                                <option  value="{{ grupo_acesso }}">{{ grupo_acesso }}</option>                                
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                          <label>EMPRESA</label>
                          <select name="empresa_id" class="form-control select2" multiple="multiple">
                              {% for empresa in empresa_data %}
                                {% if(acesso_data["empresa_id"]) == empresa['id'] %}                                                                         
                                    <option selected value="{{empresa['id']}}">{{empresa['name_fantasy']}}</option>
                                {% else %}  
                                  <option  value="{{empresa['id']}}">{{empresa['name_fantasy']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>

                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                          <label>STATUS</label>
                          <select name="status_id" class="form-control select2 ">
                              {% for status in status_data %}
                                {% if(acesso_data["status_id"]) == status['id'] %}                                                                         
                                    <option selected value="{{status['id']}}">{{status['description']}}</option>
                                {% else %}  
                                  <option  value="{{status['id']}}">{{status['description']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        
                    </div>
                </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Salvar</button>
                    <a href="/acesso" class="btn btn-danger" type="reset">Cancelar</a>
                  </div>
                  </div>
              </div>
            </form>                    
          </div>
      </div> 
    </div>
  </div>
{% endblock %}

