{% extends "base.html" %}
{% block content %}
<div class="section-header">
    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/integracao_historico_saldo_empresa">HISTORICO</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4>HISTORICOS</h4>
            <div class="card-header-form">
                <form method="get" action="/integracao_historico_saldo_empresa">
                    <div class="input-group">      
                        <div class=" d-inline mr-2">
                            <select class="btn btn-primary"name="filter" >
                                <a class="dropdown-item" ><option  selected value="name_fantasy">EMPRESA</option></a>
                                <a class="dropdown-item " ><option  value="identificador">IDENTIFICADOR</option></a>
                                <a class="dropdown-item " ><option  value="integracao_id">INTEGRACAO</option></a>
                            </select>                            
                        </div>            
                            
                        <input name="value" type="text"  class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>    
                    </div>
                </form>
          </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">                
                    <tr>
                        <th>#</th>
                        <th>TIPO</th>
                        <th>SALDO</th>
                        <th>IDENTIFICADOR</th>
                        <th>INTEGRAÇÃO</th>
                        <th>EMPRESA</th>
                        <th>CRIADO EM</th>
                        <th>AÇÃO</th>
                    </tr>           
                    {% for integracao_historico_saldo_empresa in data['items'] %}
                    <tr>                
                        <td>{{ integracao_historico_saldo_empresa["id"] }}</td>
                        <td>{{ integracao_historico_saldo_empresa["tipo"] }}</td>
                        <td>{{ integracao_historico_saldo_empresa["saldo"] }}</td>
                        <td>{{ integracao_historico_saldo_empresa["identificador"] }}</td>
                        <td>{{ integracao_historico_saldo_empresa["integracao_id"] }}</td>
                        <td>{{ integracao_historico_saldo_empresa["empresa_id"] }}</td>
                        <td>{{ integracao_historico_saldo_empresa["create_at"]}}</td>
                        <td>
                            <a href="#?id={{integracao_historico_saldo_empresa.id}}" class="btn btn-primary">visualizar</a>
                        </td>
                    </tr>
                    {% endfor %}              
                </table>              
                <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        <li class="page-item">
                            {% if data['page'] > 1 %}
                                <a class="page-link" href="?page={{ data['page']-1 }}" ><i class="fas fa-chevron-left"></i></a>
                            {% endif %}
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">{{ data['page'] }}/{{ data['pages'] }}<span class="sr-only">(current)</span></a></li> 
                          <li class="page-item">
                            {% if data['page'] < data['pages'] %}
                                <a class="page-link" href="?page={{ data['page']+1 }}"><i class="fas fa-chevron-right"></i></a>
                            {% endif %}
                          </li>
                      </ul>
                    </nav>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
