{% extends "base.html" %}
{% block content %}
  <div class="section-header">    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/categoria">CATEGORIA</a></div>
      <div class="breadcrumb-item">FORMULÁRIO</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h4>CADASTRO DE CATEGORIA DE CONTA</h4>
          </div>
          <div class="card-body">
            {% if categoria_data[0] %}
            {% set categoria_data = categoria_data[0] %}
              <form method="POST" action="/categoria/update/{{ categoria_data['id'] }}"> 
            {% else %}
              <form method="POST" action="/categoria/insert"> 
            {% endif %}
                <div class="card-body">
                    <div class="row">                               
                        <div class="form-group col-sm-12  col-md-12 col-lg-12">
                            <label>DESCRIÇÃO</label>
                            <input type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" name="description" value="{{ categoria_data['description'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-6">
                          <label>EMPRESA</label>
                          <select name="empresa_id" class="form-control select2 ">
                              {% for empresa in empresa_data %}
                                {% if(categoria_data["empresa_id"]) == empresa['id'] %}                                                                         
                                    <option selected value="{{empresa['id']}}">{{empresa['name_fantasy']}}</option>
                                {% else %}  
                                  <option  value="{{empresa['id']}}">{{empresa['name_fantasy']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-6">
                          <label>STATUS</label>
                          <select name="status_id" class="form-control select2 ">
                              {% for status in status_data %}
                                {% if(categoria_data["status_id"]) == status['id'] %}                                                                         
                                    <option selected value="{{status['id']}}">{{status['description']}}</option>
                                {% else %}  
                                  <option  value="{{status['id']}}">{{status['description']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        
                    </div>
                </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Salvar</button>
                    <a href="/categoria" class="btn btn-danger" type="reset">Cancelar</a>
                  </div>
              </div>
            </form>                    
          </div>
      </div> 
    </div>
  </div>
{% endblock %}
