{% extends "base.html" %}
{% block content %}
<div class="section-header">
    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/pagamento_tipo">PAGAMENTO TIPO</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4>TIPOS DE PAGAMENTO</h4>
            <div class="card-header-form">
                <form method="get" action="/pagamento_tipo">
                    <div class="input-group">      
                        <!-- <div class=" d-inline mr-2">
                            <select class="btn btn-dark"name="param_search" >
                                <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                            </select>                            
                        </div>            
                              -->
                        <input name="name" type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <a  class="btn btn-primary" href="/pagamento_tipo/form"><i class="fas fa-plus"></i></a>
                    </div>
                </form>
          </div>
        </div>
        <div class="card-body ">
            <div class="table-responsive">
                    <table id="table-1" class="table table-striped " style="width:100%">     
                    <thead> 
                        <tr>
                        <th>#</th>
                        <th>DESCRIÇÃO</th>
                        <th>COM ENTRADA?</th>
                        <th>QUANTIDADE</th>
                        <th>JUROS</th>
                        <th>STATUS</th>
                        <th>CRIADO EM</th>
                        <th>AÇÃO</th>
                    </tr>           
                    </thead> 
                    {% for pagamento_tipo in data['items'] %}
                    <tr>                
                        <td>{{ pagamento_tipo["id"] }}</td>
                        <td> {{ pagamento_tipo["description"] }}</td>                     
                        <td> 
                            {% if pagamento_tipo["entrada"]== True  %}
                                <div class="badge badge-primary">
                                    {{ pagamento_tipo["entrada"] }}   
                                </div> 
                                {% else %}
                                <div class="badge badge-danger">
                                    {{ pagamento_tipo["entrada"] }}   
                                </div> 

                            {% endif %}
                        </td> 
                        <td> {{ pagamento_tipo["amout"] }}</td>                     
                        <td> {{ pagamento_tipo["fees"] }}</td>                     
                        <td>
                            <div class="badge badge-warning">
                                {{ pagamento_tipo["status"]["description"] }}
                            </div>
                        </td>  
                        <td>{{ pagamento_tipo["create_at"]}}</td>
                        <td>
                            <a href="/pagamento_tipo/form?id={{pagamento_tipo.id}}" class="btn btn-light">Editar</a>
                            <a href="#" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}              
                </table>              
                <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        <li class="page-item">
                            {% if data['page'] > 1 %}
                                <a class="page-link" href="?page={{ data['page']-1 }}" ><i class="fas fa-chevron-left"></i></a>
                            {% endif %}
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">{{ data['page'] }}/{{ data['pages'] }}<span class="sr-only">(current)</span></a></li> 
                          <li class="page-item">
                            {% if data['page'] < data['pages'] %}
                                <a class="page-link" href="?page={{ data['page']+1 }}"><i class="fas fa-chevron-right"></i></a>
                            {% endif %}
                          </li>
                      </ul>
                    </nav>
                  </div>
                </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}
{% block scripts %}    
    <script>
        $(document).ready(function() {
            $('#table-1').DataTable({
                "searching": false,   // Desativa a barra de pesquisa
                "paging": false,      // Desativa a paginação
                "responsive": true,   // Torna a tabela responsiva
                "columnDefs": [],
                "language": {
            "sEmptyTable": "Nenhum dado disponível na tabela",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrado de _MAX_ registros no total)",
            }
        });
        });
    </script>
{% endblock %}