{% extends "base.html" %}
{% block content %}
<div class="section-header">    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/pessoa">PESSOA</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    {% if grupo_acesso_data %}
        {% set grupo_acesso_data = grupo_acesso_data["items"][0] %}     
    {% endif %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>PESSOA</h4>
                <div class="card-header-form">
                    <form method="get" action="/contato">
                        <div class="input-group">  
                            <a  class="btn btn-primary" href="/pessoa/form?id={{grupo_acesso_data['id']}}"><i class="fas fa-edit"></i></a>
                            <a  class="btn btn-danger" href="/pessoa"><i class="fas fa-reply"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                    <div class="row">                     
                        <div class="form-group col-sm-12  col-md-12 col-lg-1">
                            <label>#</label>
                            <input type="text" disabled name="id" value="{{ grupo_acesso_data['id'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-11">
                            <label>NOME</label>
                            <input type="text" disabled name="name" value="{{ grupo_acesso_data['name'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                            <label>CPF/CNPJ</label>
                            <input type="text" disabled name="cpf_cnpj" value="{{ grupo_acesso_data['cpf_cnpj']}}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                        <label>TIPO</label>
                        
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                        <label>EMPRESA</label>
                        
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                        <label>STATUS</label>
                        
                        </div>                
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="ccol-sm-12  col-md-12 col-lg-7">
                <div class="card">
                    <div class="card-header">
                        <h4>USUÁRIOS</h4>
                        <div class="card-header-form">
                            <form method="get" action="/usuario">
                                <div class="input-group">      
                                    <!-- <div class=" d-inline mr-2">
                                        <select class="btn btn-primary"name="param_search" >
                                            <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                            <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                                        </select>                            
                                    </div>            
                                        -->
                                    <input name="name" type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <a  class="btn btn-primary" href="/usuario/form?pessoa_id={{grupo_acesso_data['id']}}"><i class="fas fa-plus"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">                
                                <tr>
                                    <th>#</th>
                                    <th>USERNAME</th>
                                    <th>STATUS</th>
                                    <th>CRIADO EM</th>
                                    <th>AÇÃO</th>
                                </tr>           
                                {% for usuario in usuario_data['items'] %}
                                <tr>                
                                    <td>{{ usuario["id"] }}</td>
                                    <td>{{ usuario["username"] }}</td>  
                                    <td>
                                        <div class="badge badge-primary">
                                            {{ usuario["status"]["description"] }}
                                        </div>       
                                    </td>
                                    <td>{{ usuario["create_at"]}}</td>
                                    <td>
                                        <a href="/usuario/form?id={{usuario.id}}" class="btn btn-light">Editar</a>
                                        <a href="#" class="btn btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            </table>            
                        </div>
                    </div>
                </div>
            </div>
          
          
            <div class="col-sm-12  col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-header">
                        <h4>ACESSOS</h4>
                        <div class="card-header-form">
                            <form method="get" action="/rota">
                                <div class="input-group">      
                                    <!-- <div class=" d-inline mr-2">
                                        <select class="btn btn-primary"name="param_search" >
                                            <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                            <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                                        </select>                            
                                    </div>            
                                        -->
                                    <input name="name" type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <a  class="btn btn-primary" href="/rota/form?pessoa_id={{ grupo_acesso_data['id'] }}"><i class="fas fa-plus"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">                
                                <tr>
                                    <th>#</th>
                                    <th>DESCRIÇÃO</th>
                                    <th>ROTA</th>
                                    <th>METHOD</th>
                                    <th>STATUS</th>
                                    <th>CRIADO EM</th>
                                    <th>AÇÃO</th>
                                </tr>           
                                {% for rota in rota_data['items'] %}
                                <tr>                
                                    <td>{{ rota["id"] }}</td>
                                    <td>{{ rota["description"] }}</td>     
                                    <td>{{ rota["route"] }}</td>     
                                    <td>{{ rota["method"] }}</td>     
                                    <td>
                                        <div class="badge badge-primary">
                                            {{ rota["status"]["description"] }}
                                        </div>       
                                    </td>    
                                    <td>{{ rota["create_at"]}}</td>
                                    <td>
                                        <a href="/rota/form?id={{rota.id}}" class="btn btn-light">Editar</a>
                                        <a href="#" class="btn btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            </table>             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
