{% extends "base.html" %}
{% block content %}
<div class="section-header">    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/grupo_acesso">GRUPO DE ACESSO</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    {% if grupo_acesso_data %}
        {% set grupo_acesso_data = grupo_acesso_data["items"][0] %}     
    {% endif %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>GRUPO DE ACESSO</h4>
                <div class="card-header-form">
                    <form method="get" action="#">
                        <div class="input-group">  
                            <a  class="btn btn-primary" href="/grupo_acesso/form?id={{grupo_acesso_data['id']}}"><i class="fas fa-edit"></i></a>
                            <a  class="btn btn-danger" href="/grupo_acesso"><i class="fas fa-reply"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                    <div class="row">                     
                        <div class="form-group col-sm-12  col-md-12 col-lg-1">
                            <label>#</label>
                            <input type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" disabled name="id" value="{{ grupo_acesso_data['id'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-5">
                            <label>NOME</label>
                            <input type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" disabled name="description" value="{{ grupo_acesso_data['description'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                            <label>STATUS</label>
                            <input type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" disabled name="cpf_cnpj" value="{{ grupo_acesso_data['status']['description']}}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                            <label>CRIADO</label>
                            <input type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" disabled name="create_at" value="{{ grupo_acesso_data['create_at']}}" maxlength="255" class="form-control">
                        </div>
                        
                        
                        </div>                
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="ccol-sm-12  col-md-12 col-lg-7">
                <div class="card">
                    <div class="card-header">
                        <h4>USUÁRIOS</h4>
                        <div class="card-header-form">
                            <form method="get" action="/usuario">
                                <div class="input-group">      
                                    <!-- <div class=" d-inline mr-2">
                                        <select class="btn btn-primary"name="param_search" >
                                            <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                            <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                                        </select>                            
                                    </div>            
                                        -->
                                    <input name="name" type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <a  class="btn btn-danger" href="/grupo_acesso_usuario/form?grupo_acesso_id={{grupo_acesso_data['id']}}"><i class="fas fa-handshake"></i></a>
                                    <a  class="btn btn-primary" href="/em_contrucao"><i class="fas fa-plus"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive">
                            <table class="table table-striped">                
                                <tr>
                                    <th>#</th>
                                    <th>USERNAME</th>
                                    <th>STATUS</th>
                                    <th>CRIADO EM</th>
                                    <th>AÇÃO</th>
                                </tr>           
                                {% for grupo_acesso_usuario in grupo_acesso_usuario_data['items'] %}
                                <tr>                
                                    <td>{{ grupo_acesso_usuario["usuario"]["id"] }}</td>
                                    <td>{{ grupo_acesso_usuario["usuario"]["username"] }}</td>  
                                    <td>
                                        <div class="badge badge-primary">
                                            {{ grupo_acesso_usuario["status"]["description"] }}
                                        </div>       
                                    </td>
                                    <td>{{ grupo_acesso_usuario["create_at"]}}</td>
                                    <td>
                                        <a href="/em_contrucao" class="btn btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            </table>            
                        </div>
                    </div>
                </div>
            </div>
          
          
            <div class="col-sm-12  col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-header">
                        <h4>ROTAS</h4>
                        <div class="card-header-form">
                            <form method="get" action="/rota">
                                <div class="input-group">      
                                    <!-- <div class=" d-inline mr-2">
                                        <select class="btn btn-primary"name="param_search" >
                                            <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                            <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                                        </select>                            
                                    </div>            
                                        -->
                                    <input name="name" type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <a  class="btn btn-danger" href="/grupo_acesso_rota/form?grupo_acesso_id={{grupo_acesso_data['id']}}"><i class="fas fa-handshake"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive">
                            <table class="table table-striped">                
                                <tr>
                                    <th>#</th>
                                    <th>DESCRIÇÃO</th>
                                    <th>ROTA</th>
                                    <th>METHOD</th>
                                    <th>STATUS</th>
                                    <th>CRIADO EM</th>
                                    <th>AÇÃO</th>
                                </tr>           
                                {% for grupo_acesso_rota in grupo_acesso_rota_data['items'] %}
                                <tr>                
                                    <td>{{ grupo_acesso_rota["id"] }}</td>
                                    <td>{{ grupo_acesso_rota["rota"]["description"] }}</td>     
                                    <td>{{ grupo_acesso_rota["rota"]["route"] }}</td>     
                                    <td>{{ grupo_acesso_rota["rota"]["method"] }}</td>     
                                    <td>
                                        <div class="badge badge-primary">
                                            {{ grupo_acesso_rota["status"]["description"] }}
                                        </div>       
                                    </td>    
                                    <td>{{ grupo_acesso_rota["create_at"]}}</td>
                                    <td>
                                        <a href="/em_contrucao" class="btn btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            </table>             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
