{% extends "base.html" %}
{% block content %}
<div class="section-header">
    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/pessoa">PESSOA</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4>PESSOA</h4>
            <div class="card-header-form">
                <form method="get" action="/pessoa">
                    <div class="input-group">      
                        <div class="d-inline mr-2">                            
                            <select class="btn btn-primary" name="filter">
                                    <option value="name">NOME</option>
                                    <option value="cpf">CPF/CNPJ</option>
                            </select>
                        </div>                              
                        <input name="value" type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <a  class="btn btn-primary" href="/pessoa/form"><i class="fas fa-plus"></i></a>
                    </div>
                </form>
          </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">                
                    <tr>
                        <th>#</th>
                        <th>NOME</th>
                        <th>CPF/CNPJ</th>
                        <th>TIPO</th>
                        <th>EMPRESA</th>
                        <th>STATUS</th>
                        <th>CRIADO EM</th>
                        <th>AÇÃO</th>
                    </tr>           
                    {% for pessoa in data['items'] %}
                    <tr>                
                        <td>{{ pessoa["id"] }}</td>
                        <td>{{ pessoa["name"] }}</td>
                        <td>{{ pessoa["cpf_cnpj"] }}</td>
                        <td>{{ pessoa["pessoa_tipo"]["description"] }}</td>
                        <td>{{ pessoa["empresa"]["name_fantasy"] }}</td>
                        <td>
                            <div class="badge badge-warning">
                                {{ pessoa["status"]["description"] }}
                            </div>
                        </td>  
                        <td>{{ pessoa["create_at"]}}</td>
                        <td>
                            <a href="/pessoa/visualizar?id={{pessoa.id}}" class="btn btn-primary">Visualizar</a>
                            <a href="/pessoa/form?id={{pessoa.id}}" class="btn btn-light">Editar</a>
                            <a href="#" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}              
                </table>              
                <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                          <li class="page-item">
                            {% if data['page'] > 1 %}
                                <a class="page-link" href="?page={{ data['page']-1 }}" ><i class="fas fa-chevron-left"></i></a>
                            {% endif %}
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">{{ data['page'] }}/{{ data['pages'] }}<span class="sr-only">(current)</span></a></li> 
                          <li class="page-item">
                            {% if data['page'] < data['pages'] %}
                                <a class="page-link" href="?page={{ data['page']+1 }}"><i class="fas fa-chevron-right"></i></a>
                            {% endif %}
                          </li>
                      </ul>
                    </nav>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
