{% extends "base.html" %}
{% block content %}
<div class="section-header">
    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/pessoa">PESSOA</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    {% if pessoa_data %}
        {% set pessoa_data = pessoa_data[0] %}     
    {% endif %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>PESSOA</h4>
                <div class="card-header-form">
                    <form method="get" action="/contato">
                        <div class="input-group">  
                            <a  class="btn btn-primary" href="/pessoa/form?id={{pessoa_data['id']}}"><i class="fas fa-edit"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" action="/pessoa/insert"> 
                    <div class="row">                     
                        <div class="form-group col-sm-12  col-md-12 col-lg-1">
                            <label>#</label>
                            <input type="text" disabled name="id" value="{{ pessoa_data['id'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-11">
                            <label>NOME</label>
                            <input type="text" disabled name="name" value="{{ pessoa_data['name'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                            <label>CPF/CNPJ</label>
                            <input type="text" disabled name="cpf_cnpj" value="{{ pessoa_data['cpf_cnpj']}}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                        <label>TIPO</label>
                        <select name="tipo_pessoa_id" disabled class="form-control  ">
                            {% for pessoa_tipo in pessoa_tipo_data %}
                                {% if(pessoa_data["tipo_id"]) == pessoa_tipo['id'] %}                                                                         
                                    <option selected value="{{ pessoa_tipo['id'] }}">{{ pessoa_tipo['description'] }}</option>
                                {% else %}  
                                <option  value="{{ pessoa_tipo['id'] }}">{{ pessoa_tipo['description'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                        <label>EMPRESA</label>
                        <select name="empresa_id" disabled class="form-control  ">
                            {% for empresa in empresa_data %}
                                {% if(pessoa_data["empresa_id"]) == empresa['id'] %}                                                                         
                                    <option selected value="{{ empresa['id'] }}">{{empresa['name_fantasy']}}</option>
                                {% else %}  
                                <option  value="{{ empresa['id'] }}">{{empresa['name_fantasy']}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3">
                        <label>STATUS</label>
                        <select name="status_id" disabled class="form-control  ">
                            {% for status in status_data %}
                                {% if(pessoa_data["status_id"]) == status['id'] %}                                                                         
                                    <option selected value="{{status['id']}}">{{status['description']}}</option>
                                {% else %}  
                                <option  value="{{status['id']}}">{{status['description']}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        </div>                
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="ccol-sm-12  col-md-12 col-lg-7">
                <div class="card">
                    <div class="card-header">
                        <h4>ENDEREÇOS</h4>
                        <div class="card-header-form">
                            <form method="get" action="/endereco">
                                <div class="input-group">      
                                    <!-- <div class=" d-inline mr-2">
                                        <select class="btn btn-primary"name="param_search" >
                                            <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                            <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                                        </select>                            
                                    </div>            
                                        -->
                                    <input name="name" type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <a  class="btn btn-primary" href="/endereco/form?pessoa_id={{pessoa_data['id']}}"><i class="fas fa-plus"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">                
                                <tr>
                                    <th>#</th>
                                    <th>PAIS</th>
                                    <th>CIDADE</th>
                                    <th>CEP</th>
                                    <th>BAIRRO</th>
                                    <th>LOGRADOURO</th>
                                    <th>STATUS</th>
                                    <th>CRIADO EM</th>
                                    <th>AÇÃO</th>
                                </tr>           
                                {% for endereco in endereco_data %}
                                <tr>                
                                    <td>{{ endereco["id"] }}</td>
                                    <td>{{ endereco["pais"] }}</td>
                                    <td>{{ endereco["cidade"] }}</td>
                                    <td>{{ endereco["cep"] }}</td>
                                    <td>{{ endereco["bairro"] }}</td>
                                    <td>{{ endereco["logradouro"] }}</td>
                                    <td>
                                        <div class="badge badge-warning">
                                            {{ endereco["status"]["description"] }}
                                        </div>
                                    </td>  
                                    <td>{{ endereco["create_at"]}}</td>
                                    <td>
                                        <a href="/endereco/form?id={{endereco.id}}&pessoa_id={{pessoa_data['id']}}" class="btn btn-light">Editar</a>
                                        <a href="#" class="btn btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            </table>              
                        </div>
                    </div>
                </div>
            </div>
          
          
            <div class="col-sm-12  col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-header">
                        <h4>CONTATOS</h4>
                        <div class="card-header-form">
                            <form method="get" action="/contato">
                                <div class="input-group">      
                                    <!-- <div class=" d-inline mr-2">
                                        <select class="btn btn-primary"name="param_search" >
                                            <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                            <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                                        </select>                            
                                    </div>            
                                        -->
                                    <input name="name" type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                    <a  class="btn btn-primary" href="/contato/form?id=0&pessoa_id={{ pessoa_data['id'] }}"><i class="fas fa-plus"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">                
                                <tr>
                                    <th>#</th>
                                    <th>CONTATO</th>
                                    <th>TIPO</th>
                                    <th>STATUS</th>
                                    <th>CRIADO EM</th>
                                    <th>AÇÃO</th>
                                </tr>           
                                {% for contato in contato_data %}
                                <tr>                
                                    <td>{{ contato["id"] }}</td>
                                    <td>{{ contato["contato"] }}</td>
                                    <td>{{ contato["empresa"]["name_fantasy"] }}</td>
                                    <td>
                                        <div class="badge badge-warning">
                                            {{ contato["status"]["description"] }}
                                        </div>
                                    </td>  
                                    <td>{{ contato["create_at"]}}</td>
                                    <td>
                                        <a href="/contato/form?id={{contato.id}}&pessoa_id={{ pessoa_data['id']}}" class="btn btn-light">Editar</a>
                                        <a href="#" class="btn btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}              
                            </table>              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
