{% extends "base.html" %}
{% block content %}
  <div class="section-header">    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/pessoa">CONTA</a></div>
      <div class="breadcrumb-item">FORMULÁRIO</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h4>CADASTRO DE CONTA</h4>
          </div>
          <div class="card-body">
            {% if conta_data %}
            {% set conta_data = conta_data[0] %}
              <form method="PATCH" action="/conta/update/{{ conta_data['id'] }}"> 
            {% else %}
              <form method="POST" action="/conta/insert"> 
            {% endif %}
                <div class="card-body">
                    <div class="row">                           
                        <div class="form-group  col-sm-12  col-md-12 col-lg-9">
                          <label>DESCRIÇÃO DA  CONTA</label>
                          <input type="text" name="descricao" value="{{ conta_data['descricao'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-3  ">
                          <label>DATA VENCIMENTO</label>
                          <input type="date" name="data_vencimento" value="{{ conta_data['data_vencimento'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group col-sm-12  col-md-12 col-lg-4">
                          <label>PESSOA</label>
                          <select name="pessoa_id" class="form-control select2 ">
                              {% for pessoa in pessoa_data %}
                                {% if(conta_data["tipo_id"]) == pessoa['id'] %}                                                                         
                                    <option selected value="{{ pessoa['id'] }}">{{ pessoa['name'] }}</option>
                                {% else %}  
                                  <option  value="{{ pessoa['id'] }}">{{ pessoa['name'] }}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-3 ">
                          <label>CATEGORIA</label>
                          <select name="categoria_id" class="form-control select2 ">
                              {% for categoria in categoria_data %}
                                {% if(conta_data["tipo_id"]) == categoria['id'] %}                                                                         
                                    <option selected value="{{ categoria['id'] }}">{{ categoria['description'] }}</option>
                                {% else %}  
                                  <option  value="{{ categoria['id'] }}">{{ categoria['description'] }}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-3 ">
                          <label>CONTROLE</label>
                          <input type="text" name="controle" value="{{ conta_data['controle'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-2">
                          <label>VALOR TOTAL</label>
                          <input type="double" name="valor_total" value="{{ conta_data['valor_total'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-3 ">
                          <label>TIPO</label>
                          <select name="conta_tipo_id" class="form-control select2">
                              {% for conta_tipo in conta_tipo_data %}
                                {% if(conta_data["tipo_id"]) == conta_tipo['id'] %}                                                                         
                                    <option selected value="{{ conta_tipo['id'] }}">{{ conta_tipo['description'] }}</option>
                                {% else %}  
                                  <option  value="{{ conta_tipo['id'] }}">{{ conta_tipo['description'] }}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        
                        <div class="form-group  col-sm-12  col-md-12 col-lg-3 ">
                          <label>DOCUMENTO</label>
                          <select name="documento_tipo_id" class="form-control select2 ">
                              {% for documento_tipo in documento_tipo_data %}
                                {% if(conta_data["documento_tipo_id"]) == documento_tipo['id'] %}                                                                         
                                    <option selected value="{{ documento_tipo['id'] }}">{{documento_tipo['description']}}</option>
                                {% else %}  
                                  <option  value="{{ documento_tipo['id'] }}">{{documento_tipo['description']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-3 ">
                          <label>PAGAMENTO</label>
                          <select name="pagamento_tipo_id" class="form-control select2 ">
                              {% for pagamento_tipo in pagamento_tipo_data %}
                                {% if(conta_data["pagamento_tipo_id"]) == pagamento_tipo['id'] %}                                                                         
                                    <option selected value="{{ pagamento_tipo['id'] }}">{{pagamento_tipo['description']}}</option>
                                {% else %}  
                                  <option  value="{{ pagamento_tipo['id'] }}">{{pagamento_tipo['description']}}</option>
                                {% endif %}description
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-3 ">
                          <label>EMPRESA</label>
                          <select name="empresa_id" class="form-control select2 ">
                              {% for empresa in empresa_data %}
                                {% if(conta_data["empresa_id"]) == empresa['id'] %}                                                                         
                                    <option selected value="{{ empresa['id'] }}">{{empresa['name_fantasy']}}</option>
                                {% else %}  
                                  <option  value="{{ empresa['id'] }}">{{empresa['name_fantasy']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-10">
                          <label>OBSERVAÇÃO</label>
                          <input type="text" name="observation" value="{{ conta_data['observation'] }}" maxlength="255" class="form-control">
                        </div>
                        <div class="form-group  col-sm-12  col-md-12 col-lg-2">
                          <label>STATUS</label>
                          <select name="status_id" class="form-control select2">
                              {% for status in status_data %}
                                {% if(conta_data["status_id"]) == status['id'] %}                                                                         
                                    <option selected value="{{status['id']}}">{{status['description']}}</option>
                                {% else %}  
                                  <option  value="{{status['id']}}">{{status['description']}}</option>
                                {% endif %}
                              {% endfor %}
                          </select>
                        </div>
                        
                    </div>
                </div>
                {% if conta_data %}
                  <div class="card-footer text-right ">
                    <button class="btn btn-primary mr-1" type="submit">Alterar</button>
                    <a href="/pessoa" class="btn btn-danger" type="reset">Cancelar</a>
                  </div>
                {% else %}
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Cadastrar</button>
                    <a href="/pessoa" class="btn btn-danger" type="reset">Cancelar</a>
                  </div>
                {% endif %}
              </div>
            </form>                    
          </div>
      </div> 
    </div>
  </div>
{% endblock %}
