{% extends "base.html" %}
{% block content %}
<div class="section-header">
    
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="/empresa">EMPRESA</a></div>
      <div class="breadcrumb-item">LISTAGEM</div>
    </div>
  </div>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4>EMPRESA</h4>
            <div class="card-header-form">
                <form method="get" action="/empresa">
                    <div class="input-group">      
                        <!-- <div class=" d-inline mr-2">
                            <select class="btn btn-primary"name="param_search" >
                                <a class="dropdown-item" ><option  selected value="name">NOME</option></a>
                                <a class="dropdown-item " ><option  value="cpf">CPF/CNPJ</option></a>
                            </select>                            
                        </div>            
                              -->
                        <input name="name" type="text" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <a  class="btn btn-primary" href="/empresa/form"><i class="fas fa-plus"></i></a>
                    </div>
                </form>
          </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">                
                    <tr>
                        <th>#</th>
                        <th>NOME FANTASIA</th>
                        <th>RAZÃO SOCIAL</th>
                        <th>CNPJ</th>
                        <th>I.E.</th>
                        <th>E-MAIL</th>
                        <th>TELEFONE</th>
                        <th>STATUS</th>
                        <th>CRIADO EM</th>
                        <th>AÇÃO</th>
                    </tr>           
                    {% for empresa in data['items'] %}
                    <tr>                
                        <td>{{ empresa["id"] }}</td>
                        <td>{{ empresa["name_fantasy"] }}</td>                        
                        <td>{{ empresa["razao_social"] }}</td>                        
                        <td>{{ empresa["cnpj"] }}</td>                        
                        <td>{{ empresa["inscrisao_estadual"] }}</td>                        
                        <td>{{ empresa["email"] }}</td>                        
                        <td>{{ empresa["telefone"] }}</td>                        
                        <td>
                            <div class="badge badge-warning">
                                {{ empresa["status"]["description"] }}
                            </div>
                        </td>  
                        <td>{{ empresa["create_at"]}}</td>
                        <td>
                            <a href="/empresa/form?id={{empresa.id}}" class="btn btn-light">Editar</a>
                            <a href="#" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}              
                </table>              
                <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        <li class="page-item">
                            {% if data['page'] > 1 %}
                                <a class="page-link" href="?page={{ data['page']-1 }}" ><i class="fas fa-chevron-left"></i></a>
                            {% endif %}
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">{{ data['page'] }}/{{ data['pages'] }}<span class="sr-only">(current)</span></a></li> 
                          <li class="page-item">
                            {% if data['page'] < data['pages'] %}
                                <a class="page-link" href="?page={{ data['page']+1 }}"><i class="fas fa-chevron-right"></i></a>
                            {% endif %}
                          </li>
                      </ul>
                    </nav>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
